/*Import dubai-light font.
  Make sure that it is inside the folder.*/
@font-face {
	font-family: "Dubai-Light";
	src: url("Dubai-Light.otf");
}

* {
	/*this hides the unnecessary white spaces around the img*/
	margin: 0px;
	/*this will hide vertical and horizontal scrollbar*/
	/*overflow-y: hidden;*/
	/*overflow-x: hidden;*/
}

h1 {
	font-family: Dubai-Light;
}

button {
	background-color: transparent;
	outline: none;
}

.faq_btn {
	position: absolute;
	/*can be seen as y-axis*/
	top: 230px;
	/*can be seen as x-axis*/
	left: 195px; 
	height: 180px;
	width: 205px;
	padding: 0px;
	margin: 0px;
}

.map_btn {
	position: absolute;
	top: 180px;
	left: 550px;
	height: 220px;
	width: 245px;
	margin: 0px;
	padding: 0px;
}

.pier_txt {
	position: absolute;
	top: 400px;
	left: 215px;
	font-family: Dubai-Light;
	font-size: 45px;
	padding: 0px;
	margin: 0px;
}

.map_txt {
	position: absolute;
	top: 400px;
	left: 630px;
	font-family: Dubai-Light;
	font-size: 45px;
	padding: 0px;
	margin: 0px;
}

.marquee {
	position: absolute;
	text-align: center;
	top: 50px;
	left: 320px;
	font-size: 38px;
	width: 860px;
	height: 75px;
	background-color: rgb(29,90,108);
	padding-top: 10px;
	color: white;
	font-family: Dubai-Light;
}

.left_marquee {
	position: absolute;
	background-color: rgb(29,90,108);
	top: 50px;
	left: 0px;
	height: 80px;
	width: 320px;
	padding-top: 5px;
}

.left_txt {
	position: absolute;
	font-family: Dubai-Light;
	color: white;
	top: -5px;
	left: 15px;
	font-size: 24px;
}

.date_txt {
	position: absolute;
	font-family: Dubai-Light;
	color: white;
	font-size: 24px;
	left: 15px;
	top: 20px;
}

.degree_txt {
	position: absolute;
	font-family: Dubai-Light;
	color: white;
	font-size: 24px;
	left: 15px;
	top: 50px;
}

.right_marquee {
	position: absolute;
	background-color: rgb(29,90,108);
	top: 50px;
	left: 1180px;
	height: 80px;
	width: 83px;
	padding-top: 5px;
}

.line {
	position: absolute;
	top: 65px;
	left: 320px;
	color: white;
	font-family: Dubai-Light;
}

.line2 {
	position: absolute;
	top: 65px;
	left: 1172px;
	color: white;
	font-family: Dubai-Light;
}