body{
  font: 15px/1.5 "Open Sans", sans-serif;
  padding:0;
  margin:0;
  background: url('../images/bg2.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  text-align:center;
  background-color:#ffffff;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#333333;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#333333;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#337AB7 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#337AB7;
  font-weight:bold;
}

header a:hover{
  color:#337AB7;
  font-weight:bold;
}

/* Marquee */
#marquee .announcements{
  color:#ffffff;
  background:#333333;
  font-weight:bold;
  border-bottom:#337AB7 3px solid;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-decoration:none;
  text-align: center;
  width:30%;
  padding:10px;
}
#boxes a{
  color:#337AB7;
  text-decoration:none;
  font-size:16px;
}

#boxes a:hover{
  color:#FFFFFF;
  font-weight:bold;
}

#boxes .box img{
  width:90px;
}
/* Buttons */
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#337AB7;
  text-align: center;
}

}
